
.triangle-left {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #ffda77;
}
.cart{
	width: 500px;
}
.information{
	padding: 0;
}
.name{
	margin: 0;
}
.description{
	margin: 0;
}
.img{
	width: 400px;
	height: 300px;
}
header{
	height: 100vh;
}
@media screen and (max-width: 400px){
	.triangle-left {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #ffda77;
}
.up{
	height: 70px;
}
}
@media screen and (max-width: 800px){
	.triangle-left {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #ffda77;
}

}