html{
	width: 100vw;
	overflow-x: hidden;
}
*{
	user-select: none;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
}
header{
	background-image: url("images/cupitor.jpg");
	background-repeat:no-repeat; 
	background-size: 100vw auto;
	color: white;
	padding-bottom: 70px;

}

.up{
	display: flex;
	justify-content: space-between;
	padding-top:15px; 
	font-size: 12pt;
	height: 150px;
	}


nav{
	text-transform: uppercase;
}
nav a{
	margin-left: 20px;
	color: #f9f7cf;

}
nav a:hover{
	color: #ffda77 ;
	border-bottom: dotted 5px #ffda77;
	border-top: dotted 5px #ffda77;
	/*padding-bottom: 3px;*/
}
.centre{
	display: flex;
}
.creative{
	font-family: 'Texturina', serif;
	color: #f9f7cf;
	font-size: 45pt;
	font-weight: 700;
	margin-bottom: 200px;
}

button{
	display: flex;
	align-items: center;
	flex-grow: 0; 
	background-color:transparent;
	color: #ffdd93;
	border: dotted #f9f7cf 2px;
	text-transform: uppercase;
	padding: 10px 30px;
	font-weight: 600;
	margin: 10px 10px;
}
button:hover{
	background-color: #ffda77;
	color:black;
}
.categories{
	display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 500px;
}

.icons{
	width: 28px;
	margin-right: 5px; 
}
.logo{
	width: 150px;
}
.information{
	display: none;
	width: 600px;
	height: 500px;
	margin-left: 100px;
	border:dotted 5px #ffda77 ;
}
.cart{

}
.sector{
	max-width: 1300px;
	margin: 0 auto;
	display: none;

}
.second{
	background:  linear-gradient(#605d21, #3f2817, #1f150e);
}