html{
	width: 100vw;
	overflow-x: hidden;
	font-family: 'Cormorant Infant', serif;
}
*{
	user-select: none;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
}
header{
	background-image: url("images/cupitor.jpg");
	background-repeat:no-repeat; 
	background-size: 100vw auto;
	color: white;
	padding-bottom: 70px;
	
}

.up{
	display: flex;
	justify-content: space-between;
	padding-top:15px; 
	font-size: 12pt;
	height: 150px;
	}


nav{
	text-transform: uppercase;
}
nav a{
	margin-left: 20px;
	color: #f9f7cf;
	font-weight: 800;
	font-size: 13pt;

}
nav a:hover{
	color: #ffda77 ;
	border-bottom: dotted 5px #ffda77;
	border-top: dotted 5px #ffda77;
	/*padding-bottom: 3px;*/
}
.centre{
	display: flex;
}
.creative{
	font-family: 'Texturina', serif;
	color: #f9f7cf;
	font-size: 45pt;
	font-weight: 700;
	margin-bottom: 200px;
}

button{
	display: flex;
	align-items: center;
	flex-grow: 0; 
	background-color:transparent;
	color: #ffdd93;
	border: dotted #f9f7cf 2px;
	text-transform: uppercase;
	padding: 10px 30px;
	font-weight: 800;
	margin: 10px 10px;
	font-size: 12pt;
}
button:hover{
	background-color: #ffda77;
	color:black;
}
.categories{
	display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 500px;
}

.icons{
	width: 28px;
	margin-right: 5px; 
}
.logo{
	width: 200px;
	
}

.information{
	display: none;
	width: calc(50% - 100px);
	height: 500px;
	margin-left: 100px;
	border:dotted 5px #ffda77 ;
	padding: 15px;
}
.cart{
	width: 900px;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid white;
	margin-bottom:10px;
}
.sector{
	max-width: 1300px;
	margin: 0 auto;
	display: none;

}
.second{
	display: flex;
	justify-content: center;
	align-items: center;
	background:  linear-gradient(#605d21, #3f2817, #1f150e);
}
.food{
	color:#f9f7cf;
	font-size: 18pt;
	margin-top: 10px;
}
.food::before{
	content: "Кухня:";
	margin-right: 20px;
	font-size: 20pt;
}
.name{
	text-align: center;
	font-size: 26pt;
	font-weight: 900;
	color:#f9f7cf;
	margin-top: 10px;
}
.name:hover{
	color:#ffda77;
}
.img{
	width: 100%;
	height: 500px;
}
.description{
	font-size: 20pt;
	color:#f9f7cf;
	margin:20px 0px;
	line-height: 30px;
}
.adress, .time, .money, .set, .site{
	color:#f9f7cf;
	font-size: 18pt;
	margin-top: 10px;
	
}
.adress::before{
	content:"Адрес:";
	margin-right: 10px;
	font-size: 20pt;
}
.adress:hover{
	color: #ffda77;
}
.adress:hover::before{
	color:#f9f7cf;
}

.aboutNew{
	font-size: 24pt;
	font-weight: 900;
	text-align: center;
	margin-bottom: 20px;
	color:#f9f7cf;
}
.aboutNewCafe, .inf{
	font-size: 22pt;
	font-weight: 600;
	text-align: center;
    line-height: 30px;
    color:#f9f7cf;
}
.inf{
	margin-top: 50px;
}
.arrow {
    margin: 30px;
}
.arrow span {
    display: block;
    width: 60px;
    height: 60px;
    border-bottom: 8px solid #ffda77;
    border-right: 8px solid #ffda77;
    transform: rotate(45deg);
    margin: -22px auto;
    animation: arrow 3s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,10px);
    }
}

.time::before{
	content:"Время:";
	margin-right: 10px;
	font-size: 20pt;
}

.money::before{
	content:"Средний счёт:";
	margin-right: 10px;
	font-size: 20pt;
}
.set{
	margin-bottom: 20px;
}
.set::before{
	content:"Посадочные места:";
	margin-right: 10px;
	font-size: 20pt;
}
.site{
	margin-bottom: 20px; 
}
.site::before{
	content:"Сайт:";
	margin-right: 10px;
	font-size: 20pt;
}
.site:hover{
    color: #ffda77;
}
.site:hover::before{
	color:#f9f7cf;
}

@media screen and (max-width:800px){
	.container{
		max-width: 700px;
	}
	header{
		background-size: auto 100%;
		height: 100%;
	}
	.creative{
		font-size: 30pt;	
	}
	nav a{
		font-size: 12pt;
		margin-left:8px ;
	}
	button{
		padding: 10px 10px;
		font-size: 10pt;
		height: 40pt;
		margin: 8px;
	}
	.icons{
		width: 25px;
	}
	.centre{
		margin-top: 30px;
		height: 600px;
	}
	.categories{
		width: 420px;
		height: 550px;
	}
	.information{
		margin-top: 10px;
		height: 550px;
		margin-left: 20px;
		width: 300px;
		padding: 10px;
	}
	.inf{
		margin-top: 20px;
	}
	.aboutNewCafe, .inf {
		font-size: 16pt;
		line-height: 30px;
	}
	.logo{
		width: 150px;
	}
	.aboutNew{
		font-size: 18pt;
		margin-bottom: 20px;
	}
	.aboutNewCafe{
		font-size: 15pt;
		line-height: 25px;
	}
	.arrow span{
		width: 50px;
		height: 50px;
		margin-bottom: 5px;
		border-width:6px;
	}
	.arrow{
		margin-top: 30px;
	}
	.sector{
		max-width:700px;
	}
	.cart{
		width: 600px;
	}
	.description{
		
		font-size: 15pt;
		line-height: 20px;
		margin: 12px 0;
	}
	.img{
		height: 300px;
	}
	.food, .adress, .time, .site, .set, .money{
		font-size: 14pt;
		margin-top: 7px;
	}
	.food::before, .adress::before, .time::before, .site::before, .set::before, .money::before{
		font-size: 14pt;
	}
	@media screen and (max-width:400px){
		.container{
			max-width: 330px;
		}
		header{
			background-size: auto 100%;
			height: 100%;
		}
		.creative{
			font-size: 16pt;	
		}
		nav a{
			font-size: 6pt;
			margin-left:4px ;
		}
		button{
			padding: 5px 5px;
			font-size: 5pt;
			height: 20pt;
			margin: 3px;
		}
		.icons{
			width: 12px;
		}
		.centre{
			margin-top: 15px;
			height: 400px;
		}
		.categories{
			width: 190px;
			height: 400px;
		}
		.up{
			height: 100px;
		}
		.information{
			margin-top: 5px;
			height: 400px;
			margin-left: 10px;
			width: 120px;
			padding: 5px;
		}
		
		.aboutNewCafe, .inf {
			font-size: 8pt;
			line-height: 15px;
		}
		.inf{
			margin-top: 10px;
			line-height: 20px;
		}
		.logo{
			width: 75px;
		}
		.aboutNew{
			font-size: 9pt;
			margin-bottom: 10px;
		}
		.aboutNewCafe{
			font-size: 8pt;
		}
		.arrow span{
			width: 25px;
			height: 25px;
			margin-bottom: 10px;
			border-width:3px;
		}
		.arrow{
			margin-top: 50px;
		}
		.sector{
			max-width:350px;
		}
		.cart{
			width: 270px;
			margin-bottom: 5px;
		}
		.name{
			font-size: 18pt;
			margin-top: 5px;
		}
		.description{
			font-size: 10pt;
			line-height: 10px;
			margin: 6px 0;
		}
		.img{
			height: 150px;
		}
		.food, .adress, .time, .site, .set, .money{
			font-size: 7pt;
			margin-top: 4px;
		}
		.food::before, .adress::before, .time::before, .site::before, .set::before, .money::before{
			font-size: 7pt;
		}
		.set, .site{
			margin-bottom: 10px;
		}
}